.box {
    background-color: white;
    border: 1px solid #d7dbe1;
    display: block;
    padding: 20px 30px;
    width: 360px;
    border-radius: 5px;
    margin: 40px auto;
    color: #444;
    box-sizing: border-box;

}

.box h2 {
    text-align: center;
    margin-top: 0px;
    padding: 0;
}

.boxInput input{
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    height: 35px;
    width: 100%;
}


.placeholder {
    margin-bottom: 20px;
    padding: 5px 0px;
    width: 98%;
    height: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fullError{
    background-color: #be4b49;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px  rgba(139, 3, 0, .75), 0 1px 10px  rgba(0, 0, 0, .35);
    color: #fff;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 15px;
}
.captchaImg{
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    width: 50%;
    margin: 0 auto 20px auto;
    display: block;
}
